<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="abc ">
    <%= f.label :name ,class:"name1" %><br />
    <%= f.text_field :name,class:"namelbl" %>
  </div>
  <div class="abc">
    <%= f.label :description , class:"name2" %><br />
    <%= f.text_area :description ,class:"dislbl" %>
  </div>
  <div class="def">
    <%= f.label :status %><br />
    <%= f.select :status,Task::STATUS_OPTIONS %>
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
